body {
    background: hsl(0, 0%, 100%);
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 60px;
}

.b1{
    background-color: rgb(237, 249, 249);
}
.b2{
    background-color: rgb(237, 249, 249);
}

.title {
    font-size: 50px;
    margin-bottom: 50px;
    color: rgb(7, 5, 5);
}

.choice-container {
    display:flex;
    justify-content: center;
    gap: 40px;
}

.choice {
    background: lab(52.07% 79.58 15.49);
    padding: 30px 60px;
    font-size: 32px;
    border-radius: 12px;
    text-decoration:solid;
    color: black;
    transition: transform 0.4s;
}

.choice:hover {
    background: hwb(342 82% 0%);
    transform: translateX(20px);
    animation: colorChange 2s infinite; /* trigger the animation on hover */

}
@keyframes colorChange{
    0%{
        background-color: crimson;
    }
    25%, 70%{
        background-color: blue;
    }

    50%,100%{
        background-color: darkmagenta;
    }
}


.Images {
    transform: rotate(360deg);
    transition: transform 2s linear;
}

.back {
    display: inline-block;
    margin-top: 40px;
    font-size: 24px;
    text-decoration: none;
    color: #333;
}

.back:hover {
    text-decoration: underline;
}
