body {
    background: hsl(0, 0%, 100%);
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 60px;
}

.b1,b2,b3,b4{
    background-color: rgb(237, 249, 249);
}


.title {
    font-size: 50px;
    margin-bottom: 50px;
    color: rgb(7, 5, 5);
}

.choice-container {
    display:flex;
    justify-content: center;
    gap: 40px;
}

.choice-venue{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.choice {
    background: lab(52.07% 79.58 15.49);
    padding: 30px 60px;
    font-size: 32px;
    border-radius: 12px;
    text-decoration:solid;
    color: black;
    transition: transform 0.4s;
}
.venuechoice{
    background: lab(52.07% 79.58 15.49);
    padding: 30px 60px;
    font-size: 32px;
    border-radius: 12px;
    text-decoration:solid;
    color: black;
    transition: transform 0.4s;
}

.choice:hover {
    background: hwb(342 82% 0%);
    transform: translateX(20px);
    animation: colorChange 2s infinite; /* trigger the animation on hover */
    
}

.venuechoice:hover{
    background: lab(83.78% 4.68 -0.01 / 0.816);
    transform: translateX(20px);
    animation: colorCombo 2s infinite; /* trigger the animation on hover */
    
}

.choice-food{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.food {
    background: lab(52.07% 79.58 15.49);
    padding: 30px 60px;
    font-size: 32px;
    border-radius: 12px;
    text-decoration:solid;
    color: black;
    transition: transform 0.4s;
}

.food:hover{
    background: lab(83.78% 4.68 -0.01 / 0.816);
    transform: translateX(20px);
    animation: party 2s infinite; /* trigger the animation on hover */
    
}
@keyframes colorChange{
    0%{
        background-color: crimson;
    }
    25%, 70%{
        background-color: blue;
    }

    50%,100%{
        background-color: darkmagenta;
    }
}

@keyframes colorCombo{
    0%{
    background-color: hsl(45, 100%, 51%);
    }

    25%, 70%{
        background-color: rgb(226, 14, 14);
    }

    50%,100%{
        background-color: rgb(252, 150, 109);
    }
}

@keyframes party{
    0%{
        background-color: hwb(101 2% 0%);
    }

    25%, 70%{
        background-color: #04f0fc;
    }

    50%,100%{
        background-color: #f33636;
    }
}


@keyframes spinImage {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.Images {
    width: 450px;           /* sets the width to 150px */
    height: auto;           /* keeps aspect ratio */
    border-radius: 8px;     /* optional rounded corners */
    animation: spinImage 2s linear; /* keeps spinning forever */
}


.back {
    display: inline-block;
    margin-top: 40px;
    font-size: 24px;
    text-decoration: none;
    color: #333;
}

.back:hover {
    text-decoration: underline;
}

p{
    color: black;
    font-style: italic;
    font-weight: bold;
}